/* General body styling */
.body {
    background-color: #F2F6F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 60px);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container for the register box */
.register-container {
    background-color: #C8DAD3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Register box styling */
.register-box {
    text-align: center;
}

.register-box h2 {  
     color: #63707E;
    margin-bottom: 10px;
}
.register-box p {
    color: #63707E;
    margin-bottom: 20px;
}

/* Form styling */
.register-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    color: #63707E;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #93B5B3;
    border-radius: 5px;
    background-color: #F2F6F5;
    color: #63707E;
    font-size: 16px;
}

.input-group input:focus {
    outline: none;
    border-color: #63707E;
}

/* Register button styling */
.Register-button {
    background-color: #303333;
    color: #F2F6F5;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.Register-button:hover {
    background-color: #64696e !important;
}

/* Login container styling */
.login_container {
    margin-top: 15px;
}

.login_container p {
    color: #63707E;
}

.login-button {
    background-color: transparent !important;
    border: none;
    color: #1a1b1b;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover{
    background-color: #64696e !important;
}