/* Apply box-sizing to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  .body {
    background-color: #25456f;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    width:100vw;
  }
  
  
  .dashboard_container {
    font-family: 'Arial', sans-serif;
    background-color: #386082; 
    padding: 20px;
    width: 100%; 
    max-width: 100dvw; 
    height: 100%; 
    overflow-y: auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Logout Button */
  .logout_button {
    background-color: #df7d85; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .logout_button:hover {
    background-color: #e61c1c; 
  }
  
  /* Notification */
  .notification {
    background-color: #b3727c; /* Light red for notifications */
    color: #c62828; /* Dark red text */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Add Drug Section */
  .add_drug_section {
    background-color: rgb(69, 104, 124);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .add_drug_section h3 {
    color: rgb(69, 104, 124); 
    margin-bottom: 15px;
  }
  
  .add_drug_section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add_drug_section button {
    background-color:  #5191a1; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add_drug_section button:hover {
    background-color:  #505b77; 
  }
  
  /* Search Bar */
  .search_bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cbd5e1; 
    border-radius: 5px;
    font-size: 16px;
  }
  
  .drug_list {
    background-color: rgb(146, 142, 142);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: auto;
    height: 50vh;
  }
  
  .drug_list h3 {
    color: #6074ad; 
    margin-bottom: 15px;
  }
  
  .drug_list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .drug_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e2e8f0; 
  }
  
  .drug_list li:last-child {
    border-bottom: none;
  }
  
  .drug_list button {
    background-color:  #72969e; 
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .drug_list button:hover {
    background-color:#505b77; 
  }
  
  /* Bill Section */
  .bill_section {
    background-color: rgb(105, 98, 98);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .bill_section h3 {
    color: #647cbd; 
    margin-bottom: 15px;
  }
  
  .bill_section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .bill_section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e2e8f0; /* Light gray border */
  }
  
  .bill_section li:last-child {
    border-bottom: none;
  }
  
  .bill_section button {
    background-color: #5c86e0; /* Bright blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .bill_section button:hover {
    background-color: #7b94d7; /* Darker blue on hover */
  }
  
  .bill_section button:disabled {
    background-color: #cbd5e1; /* Light gray when disabled */
    cursor: not-allowed;
  }