.body{
    margin: 0;
    padding: 0;
    height: calc(100dvh - 50px);
    background-color: rgb(25, 113, 139);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    background-color: rgb(111, 156, 173);
    height: 30dvh;
    width: 50dvw;
    border-radius: 10px;
    align-content: center;
}

.heading{
    display: flex;
    justify-content: center;
}

.logoutButton{
    display: flex;
    justify-content: center;
    text-decoration: solid;
}

button{
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(189, 76, 76);
    border-radius: 10%;
}

button:hover{
    cursor: pointer;
    background-color: rgb(252, 40, 40);
}

h1{
    color: rgb(16, 58, 105);
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 6px;
}